In [ ]:
# Replace this IP address according to the VM assigned to you
vm_ip_address = "132.217.140.220"

# PostgreSQL

In [ ]:
import psycopg2

In [ ]:
#postgres_conn = psycopg2.connect(host=vm_ip_address, database="numeria", user="numeria", password="qwerty")
postgres_conn = psycopg2.connect(host=vm_ip_address, database="numeria", user="student", password="postgres123")
postgres_cur = postgres_conn.cursor()

In [ ]:
postgres_cur.execute("CREATE TABLE test (test_id INTEGER NOT NULL, PRIMARY KEY (test_id))")

In [ ]:
postgres_cur.execute("INSERT INTO test VALUES(1)")

In [ ]:
postgres_conn.commit()

In [ ]:
postgres_cur.execute("SELECT * FROM test")

In [ ]:
postgres_cur.execute("INSERT INTO state VALUES('state_name 543', 730432810, 422672.0, 'usa', 'capital 0', 1041984.0);")
postgres_conn.commit()

In [ ]:
postgres_cur.execute("SELECT count(*) FROM state")

In [ ]:
postgres_cur.fetchall()
#cur.fetchone(); 
#cur.fetchmany(size);

In [ ]:
postgres_cur.close()

In [ ]:
# if error : psycopg2.errors.InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block
postgres_conn.rollback()

# recommendation : faire un block try...except... et faire le conn.rollback() dans le except

# MongoDB

In [ ]:
from pymongo import MongoClient

In [ ]:
#mongo_client = MongoClient(f"{vm_ip_address}:27017", username = 'root', password = 'rootPassNumeria')
mongo_client = MongoClient(f"{vm_ip_address}:27017", username = 'student', password = 'mongodb123')

In [ ]:
mongo_db=mongo_client.numeria

In [ ]:
mongo_db_custom=mongo_client.numeria_custom

In [ ]:
mongo_db.state.insert_one({'name': 'oh hi', 'number' : 3})

In [ ]:
mongo_db_custom.state.insert_one({'name': 'oh hi', 'number' : 3})

In [ ]:
list(mongo_db.state.find({}))

In [ ]:
list(mongo_db_custom.state.find({}))